*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

body{
    
    background-image: url(/tasks/task4/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-position: center;
    background-attachment: fixed;
    

}
h1{
    font-size: 30px;
    color: black;
    
}
h2{
    font-size: 22px;
    color: black;
}
p{
  color: black;
  
}
a{
    text-decoration: none;
}


main h1{
    margin-bottom: 10px;
}
main a{
    background-color: blueviolet;
    padding: 15px;
    margin-top: 25px;
    border-radius: 10px;
}
main a:hover{
    background-color: rgb(89, 22, 151);
    padding: 20px;
}
p{
    font-size: 18px;
    font-weight: 550;
}

main{
    width: 80%;
    right: 10%;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.172);
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    text-align: center;

}

@media (max-width:700px){
    main{
        background-color: rgba(255, 255, 255, 0);
    }
}
